<ng-container>
    <form (ngSubmit)="submitData()" [formGroup]="routesForm" novalidate>
        <h2 class="text-secondary" mat-dialog-title>Editar Estado de Ruta</h2>
        <mat-dialog-content>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-select class="w-100" matNativeControl formControlName="state">
                        <mat-option *ngFor="let option of statesEnum" [value]="option">{{option}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button class="btn btn-primary btn-block mb-3" type="submit">
                Guardar
            </button>
        </mat-dialog-actions>
    </form>
</ng-container>